body {
	height: auto;
	font-size: 14px;
	font-weight: light;
	color: white;
	line-height: 100%;
	font-family: 'ProximaNova-light';
	background: url(../resources/background.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.wrapper {
	padding: 100px 50px;
  font-size: 12px;
}

.wrapper .bg-watto{
	width: 500px;
	left:400px;
	top:0px;
	text-align: center;
	position: absolute;
}

.wrapper .button{
	background: #ffb700;
	text-align: center;
	width:120px;
	height: 30px;
	margin-left: 55px;
	border-radius: 50px;
}

.wrapper .button:hover{
	background: #ffb700;
	text-align: center;
	width:120px;
	height: 30px;
	margin-left: 55px;
	border-radius: 50px;
	box-shadow: 0 0 32px 4px #ffb700, 0 0 10px 8px #ffb700 inset;
	transition-timing-function: ease;
	transition-duration: 0.3s;
	cursor: pointer;
  -webkit-animation: vibrate 0.3s ease infinite;
  	 -moz-animation: vibrate 0.3s ease infinite;
  	      animation: vibrate 0.3s ease infinite;
}

@-webkit-keyframes vibrate {
  0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}
@-moz-keyframes vibrate {
  0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}
@keyframes vibrate {
   0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}

.wrapper .button p{
	padding-top: 9px;
	font-size: 15px;
	color:#FEFEFE;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}


.wrapper .entete{
	width:100%;
	margin:auto;
	position: relative;
	padding-top:30px;
	height:200px;
}

.wrapper .regroup{
	width:500px;
	height:150px;
	margin-left: 250px;
}

.wrapper .title1{
	font-family: 'Didot-Regular';
	width:500px;
	height: 35px;
	margin-bottom: 15px;
}

.wrapper .title1 p{
	font-size: 30px;
	font-style: italic;
}

.wrapper .sub-title{
	font-family: 'Didot-Regular';
	width:170px;
	height:35px;
	border-bottom: 30px;
}

.wrapper .sub-title p{
	font-size:50px;
	font-weight: bold;
}

.wrapper .quote{
	font-family: 'ProximaNova-lightItalic';
	width: 700px;
	height: 40px;
	border-bottom: 1px solid #FEFEFE;
}

.wrapper .quote p{
	font-size:18px;
	font-style: italic;
}

.text{
	margin-left: 350px;
	margin-top:15px;
	width:500px;
}

.text1{
	font-size:13px;
	line-height: 15px;
	margin-bottom: 15px;
}

.text1 em{
	font-size: 15px !important;
	color:#FFB700;
	font-family: 'ProximaNova-Semibold';
}

.text1 span{
	position: asolute;
	font-size: 60px;
	margin-right: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: 'Didot-Regular';
	opacity: 0

}

.text0{
	padding-top: -10px;
	font-size: 60px;
	margin-right: 10px;
	font-weight: bold;
	font-family: 'Didot-Regular';
	color:#FFB700;
}

.text2{
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 25px;
}

.text3{
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 15px;
}

.text3 em{
	font-size: 15px !important;
	color:#FFB700;
	font-family: 'ProximaNova-Semibold';
}


.text4{
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 15px;
}

.text4 em{
	font-size: 15px !important;
	color:#FFB700;
	font-family: 'ProximaNova-Semibold';
}