
body {
	background: black;
	height: auto;
 	font-size: 12px;
 	font-weight: light;
	color: white;
	line-height: 100%;
 }

 .wrapper {
 	padding: 100px 50px;
 }

.wrapper .bg-watto{
	left:300px;
	top:0px;
	text-align: center;
	position: absolute;
}

.wrapper .button{
	background: black;
	border: 2px solid green;
	text-align: center;
	width: 120px;
	height: 30px;
	margin-left: 55px;
	border-radius: 50px;
}

.wrapper .button p{
	margin-top: 6px;
	font-size: 15px;
	color: #FEFEFE;
	font-weight: bold;
}

.wrapper .entete{
	width:100%;
	margin:auto;
	position: relative;
	padding-top: 30px;
	height: 200px;
}

