body{
	background: url(../resources/background.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
}

.wrapper {
	width: 700px;
	margin: auto;
	padding: 50px 0;
}

.wrapper div {
	display: block;
}


/* TITLE */ 

.title {
	padding: 100px 0 50px 0;
}

.title div{
	display: inline-block;
}

.button {
	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
	border: 1px solid #00d23d;
}

.title .basket-title {
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	margin-left: 30%;
}


/* ITEMS */ 


.items table {
	width: 100%;
}

.items tr {
	border-bottom: 1px solid;
}

.items td {
	vertical-align: middle;
	text-align: center;
}

.items .colums-name {
	height: 50px;
	vertical-align: middle;
}

.items .item {
	height: 100px;
	vertical-align: middle;
}

.items .product-image {
	width: 80px;
}

.items img.option {
	width: 25px;
	margin: 0 5px;
}



/* TOTAL */

.total {
	text-align: right;
	vertical-align: middle;
	height: 50px;
	padding: 25px 0 25px 0;
}

.total img {
	height: 20px;
}

.total span {
	margin: 0 5px;
	vertical-align: middle;
}

.total .button {
	display: inline-block;
	background-color: white;
	border: 1px solid white;
	color: black;
	font-weight: bold;
	vertical-align: middle;
}

/*Forms*/

.container-form {
	font-style: 'white';

	padding-top: 100px;
	
}

.planetform p{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.nameform p{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.lastnameform p{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.galactiqueform p{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.adressform p{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.info-0{
	text-align: center;
	width: 40%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.info-0 p{
	text-transform: uppercase;
	text-align: left;

}

.planeteform{
	text-align: center;
	display: inline-block;

}


.info-1{
	text-align: center;
	width: 40%;
	margin: auto;
	margin-bottom: 5px;

}

.info-1 p{
	text-transform: uppercase;
	text-align: left;
}

.nameform{
	text-align: center;
	display: inline-block;

}

.lastnameform{
	display: inline-block;
	text-align: center;
}

.info-2{
	text-align: center;
	width: 60%;
	margin: auto;
	margin-bottom: 32px;
}

.info-2 p{
	text-transform: uppercase;
	text-align: left;
}

.galactiqueform{
	text-align: center;
	display: inline-block;

}

.adressform{
	display: inline-block;
	text-align: center;
}


.check-0{
	text-align: left;
	width: 40%;
	margin: auto;
}

.check-0 .headtitle{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.headtitle{
	text-transform: uppercase;
}


.validate{
	text-align: center;
}



.planetstyle{
	width: 500px;
	text-align: left;
	display: block;
	margin: auto;
	border-radius: 4px;
}

.namestyle{
	width: 237.5px;
	margin-right: 25px;
	border-radius: 4px;
}

.lastnamestyle{
	width: 230px;
	border-radius: 4px;
}


.galactiquestyle{
	width: 235px;
	margin-right: 25px;
	border-radius: 4px;
}

.adressstyle{
	width: 235px;
	border-radius: 4px;
}

.round{
	display: inline-block;
}

.round p{
	margin-left:20px;
	margin-right: 35px;
	display: inline-block;
}

.check-box1{
	margin-top: 15px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	text-decoration: none;
	border: none;
}

.check-box1 a{
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	color: black;
}


