body{
	background: url(../resources/background.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
}

.wrapper {
	width: 700px;
	margin: auto;
	padding: 50px 0;
}

.wrapper div {
	display: block;
}


/* 
** TITLE 
*/ 

.title {
	padding: 100px 0 50px 0;
}

.title div{
	display: inline-block;
}

.button {
	position: absolute;
	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
	border: 1px solid #00d23d;
}

.title .basket-title {
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	margin-left: 30%;
}


/* 
** ITEMS 
*/ 


.items table {
	width: 100%;
}

.items tr {
	border-bottom: 1px solid;
}

.items td {
	vertical-align: middle;
	text-align: center;
}

.items .colums-name {
	height: 50px;
	vertical-align: middle;
}

.items .item {
	height: 100px;
	vertical-align: middle;
}

.items .product-image {
	width: 80px;
}

.items img.option {
	width: 25px;
	margin: 0 5px;
}



/* 
** TOTAL 
*/

.total {
	text-align: right;
	vertical-align: middle;
	height: 50px;
	padding: 25px 0 25px 0;
}

.total img {
	height: 20px;
}

.total span {
	margin: 0 5px;
	vertical-align: middle;
}

.total .button {
	display: inline-block;
	background-color: white;
	border: 1px solid white;
	color: black;
	font-weight: bold;
	vertical-align: middle;
}

/*Forms*/

.container-form {
	font-style: 'white';
	padding-top: 100px;
}

.container-form .button{
	background: #ffb700;
	text-align: center;
	width:120px;
	height: 30px;
	margin-left: 55px;
	border-radius: 50px;

}

.container-form .button:hover{
	background: #ffb700;
	text-align: center;
	width:120px;
	height: 30px;
	margin-left: 55px;
	border-radius: 50px;
	box-shadow: 0 0 32px 4px #ffb700, 0 0 10px 8px #ffb700 inset;
	transition-timing-function: ease;
	transition-duration: 0.3s;
	cursor: pointer;
  	-webkit-animation: vibrate 0.3s ease infinite;
  	-moz-animation: vibrate 0.3s ease infinite;
  	animation: vibrate 0.3s ease infinite;
}

@-webkit-keyframes vibrate {
  0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}
@-moz-keyframes vibrate {
  0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}
@keyframes vibrate {
  0% {opacity: 0.9;}
  30% {opacity: 0.97;}
  40% {opacity: 1;}
  80% {opacity: 0.9;}
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;}
}


/* 
** BUY  PAGE 
*/

.container-form .button p{
	margin-top: 7px;
	font-size: 15px;
	color:#FEFEFE;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.titlebuy{
	text-align: center;
	font-size: 20px;
	color: #fcfbf5 ;
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
	margin-bottom: 60px;
}


.wrapper-infos {
	width: 500px;
	margin: auto;
}


form label {
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

form .section{
	margin: 30px 0;
}

form input {
	width: 235px;
	margin: 10px 25px 10px 0;
	border-radius: 4px;
}

.info-0 {
	width: 100%;
}

.info-0 input{
	width: 486px;
}

.info-1 div{
	display: inline-block;
	width: 49%;
}

.info-1 input{
	display: block;
}

.block {
	display: block;
}

.info-2 div{
	display: inline-block;
	width: 49%;
}


.check-0{
	text-align: left;
	width: 100%;
}

.check-0 .headtitle{
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
}

.round {
	font-weight: light;
}


.validate{
	width: 140px;
	height: 40px;
	background: #ffb700;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	color:#FEFEFE;
	font-weight: bold;
	cursor: pointer;
	margin-top: 35px;
	line-height: 40px;
	vertical-align: middle;
	margin: auto;
}


.round{
	display: inline-block;
}

.check-0 input {
	width: 25px;
	margin-left:0px;
	border-radius: 4px;
}



.check-box1{
	text-decoration: none;
	border: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	color: white;
}



/*
** VALIDATED
*/

.validated {
	height: 250px;
	width: 600px;
	background: #101010;
	position: absolute;
	top: 180px;
	left: 25%;
	visibility: hidden;
	padding: 50px 40px;
}

.visible {
	visibility: visible;
}

.validated .valid-title {
	margin: auto;
	text-align: center;
}

.validated .valid-subtitle {
	padding: 30px 0;
	width: 350px;
	margin: auto;
	text-align: center;
}