body{
	margin:0;
 	padding:0;
	background: url(../resources/background.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.container{
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 800px;
	margin: auto;
	padding-left: 30px;
    padding-right: 30px;
}


.title{
	text-align: center;
	font-size: 20px;
	padding-top: 100px;
	font-family: 'ProximaNova-Semibold';
	color: white;
	text-transform: uppercase;
	margin-bottom: -30px;
}


.image{
	width: 340px;
	display: block;
	margin: auto;
	margin-bottom:-70px;
}

.wrapper > p {
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
	text-align: left;
	color:white;
	line-height: 20px;
	margin-top: 15px;
}

.wrapper > p > em {
	font-size: 23px;
	color:#FFB700;
	font-family: 'ProximaNova-Semibold';
}

.wrapper > p > img {
	width: 25px;
}

.indent {
	text-indent: 50px;
}

.indent > em {
	font-size: 15px !important;
}

button {
	margin-top: 300px;
}

.choose {
	display: block;
	width: 200px;
	height: 40px;
	border-radius: 20px;
	background-color: #FFB700;
	margin: 50px auto;
	color: white;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
}


@media screen and (max-width: 810px) {
  .wrapper {
	width: auto;
	}
}



.container.condition {
   /* height: 1800px; */
    width: 520px; 
    margin-left: auto;
    margin-right: auto;

    

}

.condition h1 {
   text-align: center;
   font-size: 20px;
   color: #fcfbf5 ;
   padding-bottom: 30px;
   font-family: 'ProximaNova-Semibold';

}

.condition h3 {
    color: #ffb700 ;
    padding-top: 20px;
    font-family: 'ProximaNova-Semibold';
    }

.condition p {
    padding-top: 15px;
    color: #fcfbf5 ;
    font-family: 'ProximaNova-Regular';
}

/*Button choose force*/

.choose-force{
	color: #fcfbf5;
	background:#ffb700;
	border-radius: 20px;
	width:200px;
	height:40px;
	margin:auto;
	margin-top: 40px;
}

.choose-force a {
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.choose-force p {
	text-align: center;
    color: #fcfbf5 ;
    background:#ffb700 ;
    border-radius: 20px;
    width:200px;
    height:40px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 25px;

}

.choose-force a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'ProximaNova-Semibold';
}

.title2{
	text-align: center;
	font-size: 20px;
	padding-top: 100px;
	font-family: 'ProximaNova-Semibold';
	color: white;
	text-transform: uppercase;
}

/*Responsive */

@media only screen and (max-width:490px) {

.container.condition{
    width: 200px;
}
.choose-force{
    color: #fcfbf5 ;
    background:#ffb700 ;
    border-radius: 20px;
    width:200px;
    height:40px;
    margin-left: 0px;
    margin-top: 20px;
}

.choose-force a {
    text-decoration: none;
}
        
