
/*
** VIDEO 
*/

.video-section {
	width: 100%;
	position: relative;
	display: inline-block;
}

video{
	width:100%;
	background-size: cover;
	position:relative;
	margin-top: -50px;
	z-index: -5;
}

.video-filter{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	position: absolute;
	z-index: -4;
}

/*
** TITLE
*/

.watto {
	width:100%;
	height: 100%;
	text-align: center;
	position: absolute;
}

.watto span{
	display: block;
}

.watto .title{
	font-family: 'jedisolid', sans-serif;
	font-size: 62px;
	color:#FEFEFE;
	margin-top: 20%;
	line-height: 100%;
}

.watto .subtitle{
	color:#FEFEFE;
	font-size: 26px;
	line-height: 100%;
	font-family: 'ProximaNova-Semibold', sans-serif;
}

/*
** TITLE
*/
.title-side {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 240px;
	margin: 50px auto;
	font-size: 16px;
}

.title-side p {
	font-size: 16px;
	display: inline-block;
	margin: 20px 10px;
}


/*
** CHOOSE YOUR COLOR
*/

.container-section {
	position: relative;
	width: calc(100% - 110px);
	margin: 0 auto;

}
.choose-side{
	width: calc(100% + 12px);
	width:100%;
	text-align:center;
}

.choose-side div {
	display: inline-block;
	position: relative;
	width: 21%;
	margin: 0 16px 12px 0;
	vertical-align: top;
	background: black;
	transition:all 0.7s ease;
	cursor: pointer;
	font-size: 0px;
}

.choose-side img {
	width: 100%;
	opacity: 0.3;
	transition:all 0.7s ease;
	height: 400px;
}

.choose-side .green:hover{
	background: green;
}

.choose-side .green:hover img{
	opacity: 0.7;
}

.choose-side .red:hover{
	background:red;
}

.choose-side .red:hover img{
	opacity:0.7;
}

.choose-side .blue:hover{
	background:blue;
}

.choose-side .blue:hover img{
	opacity:0.7;
}

.choose-side .others:hover{
	background:purple;
}

.choose-side .others:hover img{
	opacity:0.7;
}

.choose-side p {
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	color: white;
	z-index: 5;
	margin-top: 80%;
	text-align: center;
	visibility: hidden;
	transition: all 0.2s ease;
}


.choose-side .others:hover p{
	visibility: visible;
}
.choose-side .red:hover p{
	visibility: visible;
}
.choose-side .green:hover p{
	visibility: visible;
}
.choose-side .blue:hover p{
	visibility: visible;
}



/*
** SPECIAL OFFER
*/

.container2{
	width: 100%;
	display: inline-block;
	height: auto;
}

.special-offer{
	position: relative;
	display: inline-block;
    width: 81.4%;
    margin-left: 113px;
    height: 300px;
    background: black;
    background-size: cover;
    margin-bottom: 30px;
    overflow: hidden;
}

.master-jedi{
	float:right;
}



.title-offer{
   	font-size: 18px;
    font-weight: lighter;
    padding: 15px 0px 30px 25px;
    color: #FEFEFE;
    font-family: 'ProximaNova-Semibold';
}

.title-offer .kenobi{
	color: #2F7CE8;
	font-weight: bold;
}

.para1-offer{
    width: 50%;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 30px;
    color: #FEFEFE;
    font-size: 13px;
    font-family: 'ProximaNova-Regular'
}



.saber-img img {
       position: absolute;
    right: 327px;
    bottom: -8px;
    text-align: center;
    width: 250px;
    height: 317px;
}

.price{
	width: 250px;
    height: 45px;
    margin-top: 80px;
    margin-left: 25px;
}

.price p{
	font-size: 34px;
	font-family: 'ProximaNova-Bold';
	color:#2F7CE8;
}

.device{
	margin-top: -55px;
    padding-left: 122px;
    margin-left: 15px;
}

.device img{
	    width: 20px;
    height: 30px;
}
.button-exclusif{
	padding-top: 9px;
    color: #FEFEFE;
    margin-left: 170px;
    margin-top: -35px;
    font-family: 'ProximaNova-Bold';
	background:#2F7CE8;
	width: 190px;
	height: 35px;
	border-radius: 50px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
}






/*
** MEDIA QUERY 
*/

@media screen and (min-width:400px) and (max-width:1240px) {


		.choose-side .green{
			width:30%;
			margin-left: 55px;
			margin-bottom: 20px;
				
		}

		.choose-side .red{
			width:30%;
			margin-left: 155px;
			margin-bottom: 20px;
		}

		.choose-side .blue{			
			width:30%;
			margin-left: 55px;	
			margin-bottom: 20px;
		}

		.choose-side .others{			
			width:30%;
			margin-left: 155px;
			margin-bottom: 20px;
		}

		
			.choose-side div {
				display: inline-block;
				position: relative;
				width: 23.4%;
				margin: 0 12px 12px 0;
				vertical-align: top;
				background: black;
				transition:all 0.7s ease;
				height:auto;
			}

			.choose-side img {
    			width: 100%;
    			opacity: 0.3;
    			transition: all 0.7s ease;
    			height: auto;

			.choose-side .green{
				width: 35%;
				margin-left: 15px;
				height:350px;
			}

			.choose-side .red{

				width: 35%;
				margin-left: 15px;
				height:350px;
			}

			.choose-side .blue{

				width: 35%;
				margin-left: 15px;
				height:350px;
			}

			.choose-side .others{

				width: 35%;
				margin-left: 15px;
				height:350px;
			}
.special-offer{
			position: relative;
    width: calc(96% - 110px);
    margin: 30px auto;
    height: 250px;
    background: black;
    margin-left: 70px;
    background-size: cover;

   }

			.master-jedi img{
			float:right;
}

		.title-offer{
	    		font-size: 11px;
	    		font-weight: lighter;
	    		padding: 30px 0px 10px 20px;
	    		color: #FEFEFE;
			}

		.title-offer .kenobi{
				color: #2F7CE8;
				font-weight: bold;
			}

		.para1-offer{
	    		width: 50%;
	    		text-align: left;
	    		padding-left: 20px;
	    		padding-bottom: 10px;
	    		color: #FEFEFE;
	    		font-size: 09px;
		}

		.para2-offer{
    			width: 50%;
    			padding-left: 20px;
    			color: #FEFEFE;
    			font-size: 09px;
		}

		.buy{
				padding-left: 20px;
    			padding-top: 20px;
    			width: 28%;
    			color: #FEFEFE;
    			font-size: 15px;
    			text-align: center;
		}

.buy .saber1{
				display: block;
				width: 150px;
				height: 20px;
				margin: auto;
}

.buy span {
				display: block;
				margin: 0;
}

.buy span:hover{
    			color: #2F7CE8;
}

.buy .saber2{
				margin: auto;
				display: block;
				width: 150px;
				height: 20px;
				transform:rotate(180deg);
}

.saber-img{
				width: 55%;
				height: 55%;

}

.saber-img img{
	position: absolute;
    bottom: 25px;
    right: 150px;
    width: 150px;
    height: 211px;
    
}



.choose-side img {
	width: 100%;
	opacity: 0.3;
	transition:all 0.7s ease;
	height: 350px;
}

.choose-side .green:hover{
	background: green;
	height:350px;
}

.choose-side .green:hover img{
	opacity: 0.7;
	height:350px;
}



.price{
width: 250px;
    height: 45px;
    margin-top: -53px;
    margin-left: 25px;

}

}

/*@media screen and (min-width:600px) and (max-width:700px){

	.choose-side div {
    width: 40%;
    margin: 0 40px 12px 0px;    
}

	.special-offer{
		height:300px;
	}

	.title-offer{
		font-size: 10px;
		padding-left: 25px;
	}

	.para1-offer{
		padding-left: 25px;
		font-size: 08px;
		width: 50%;
		padding-bottom: 10px;
	}

	.para2-offer{
		padding-left: 25px;
		font-size: 08px;
		width: 50%;
	}

	.buy{
    	padding-top: 50px;
    	width: 50%;
    	margin-left: -30px;

}

	.buy span{
		margin:0px;		
		font-size: 13px;
	}

	.buy .saber1{
		width: 150px;
   		height: 20px;
	}

	.buy .saber2{
		width: 150px;
   		height: 20px;
	}

	.price{
		right: 0px;
   		bottom: 0px;
	}

	.price span{
		font-size: 25px;
    	margin-left: 53px;
	}

	.saber-img img{
		position: absolute;
    	bottom: 72px;
    	right: 250px;
    	height: 200px;
    	left: 215px;
    	width: 200px;
	}
*/
	










}




			
	



	
	
	

	




	



