body {
	background: black;
}

span {
	line-height: 140%;
}

.e-commerce {
	width: 1200px;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 100px;
	font-size: 0px;
	color: white;
}

.row {
	display: inline-block;
	height: 600px;
	font-size: 14px;
	vertical-align: top;
}

.row div {
	display: block;
}

.button {
	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
}


/*
** IMAGE AND INFOS
*/

.row.image-infos{

	width: 50%;
	font-size: 14px
}

.image-infos .return{
	margin-left: 50px;
}

.blue.image-infos .return{
	border: 1px solid #12ACFB;
}
.red.image-infos .return{
	border: 1px solid #d0021b;
}
.green.image-infos .return{
	border: 1px solid #00d23d;
}
.others.image-infos .return{
	border: 1px solid #bd10e0;
}


.image-infos .return span{
	vertical-align: middle;
}

.image-infos .image{
	width: 100%;
	height: 400px;
	margin-left: 130px;
	margin-top: 100Px;
}

.image-infos .image img{
	height: 100%;
}

.image-infos .open-close{
	margin-left: 50%;
}


.e-commerce .blue .button{
	border: 1px solid #12ACFB;
	background-color: #12ACFB;
}
.e-commerce .red .button{
	border: 1px solid #d0021b;
	background-color: #d0021b;
}
.e-commerce .green .button{
	border: 1px solid #00d23d;
	background-color: #00d23d;
}
.e-commerce .others .button{
	border: 1px solid #bd10e0;
	background-color: #bd10e0;
}


.image-infos .open-close span{
	vertical-align: middle;
}

.image-infos .infos{
	margin-left: 50px;
	margin-top: 80px;
	width: 70%;
}

.image-infos .describe{
	font-family: 'ProximaNova-Semibold', sans-serif;
}

.image-infos .infos span{
	display: block;
	margin-bottom: 20px;
}




/*
** PRODUCT
*/

.row.products {
	width:10%;
}

.red.row.products{
	overflow: scroll;
}

.products .others {
	font-size: 12px;
	width: 100%;
	text-align:center;
	margin-top: 30px;
}

.products .product {
	width: 110px;
	height: 110px;
	margin: 8px auto;
	cursor: pointer;
}

.blue.products .product{
	border: 1px solid #12ACFB;
}
.red.products .product{
	border: 1px solid #d0021b;
}
.green.products .product{
	border: 1px solid #00d23d;
}
.others.products .product{
	border: 1px solid #bd10e0;
}


.products .product img{
	width: 100%;
}



/*
** OPTIONS
*/

.row.choose-options{
	width: 40%;
	padding-left: 30px;
}

.choose-options .type{
	font-size: 20px;
	padding: 5px 0;
	font-family: 'ProximaNova-Semibold', sans-serif;
}

.blue.choose-options .type{
	color: #12ACFB;
}
.exclusive.choose-options .type{
	color: #12ACFB;
}
.red.choose-options .type{
	color: #d0021b;
}
.green.choose-options .type{
	color: #00d23d;
}
.others.choose-options .type{
	color: #bd10e0;
}

.choose-options .name{
	font-size: 24px;
	padding: 5px 0;
	font-family: 'ProximaNova-Semibold', sans-serif;
}

.choose-options .price{
	font-size: 24px;
	display: inline-block;
	margin: 35px 0;
	font-family: 'ProximaNova-Semibold', sans-serif;
}

.choose-options .price img{
	height: 24px;
}

.choose-options .amount{
	display: inline-block;
	width: 90px;
	height: 20px;
	margin-left: 50px;
	border-radius: 50px;
	vertical-align: middle;
	font-size:0;
}


.blue.choose-options .amount{
	border: 2px solid #12ACFB;
}
.red.choose-options .amount{
	border: 2px solid #d0021b;
}
.green.choose-options .amount{
	border: 2px solid #00d23d;
}
.others.choose-options .amount{
	border: 2px solid #bd10e0;
}

.choose-options .amount div{
	font-size:12px;
	text-align: center;
	width: 28px;
	height: 18px;
	display: inline-block;
	color: white;
	z-index: 10;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
}


.blue.choose-options .amount .nb{
	border-left: 2px solid #12ACFB;
	border-right: 2px solid #12ACFB;
}
.red.choose-options .amount .nb{
	border-left: 2px solid #d0021b;
	border-right: 2px solid #d0021b;
}
.green.choose-options .amount .nb{
	border-left: 2px solid #00d23d;
	border-right: 2px solid #00d23d;
}
.others.choose-options .amount .nb{
	border-left: 2px solid #bd10e0;
	border-right: 2px solid #bd10e0;
}

.choose-options .options .section {
	padding: 5px 0;
	margin-bottom: 30px;
}

.choose-options .options .title {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	width: 150px;
	font-family: 'ProximaNova-Semibold', sans-serif;
}


.choose-options .options .images {
	display: inline-block;
	height: 50px;

}

.choose-options .options img {
	width: 30px;
	cursor: pointer;
}

.choose-options .options .infos {
	font-size: 11px;
	
}

.choose-options .button{
	margin: auto;
}



/*
**	SPECIAL OFFER PAGE
*/

.exclusive {
	display: inline-block;
	height: 600px;
	font-size: 14px;
	vertical-align: top;
}

.exclusive a {
	color: white;
}

.exclusive div {
	display: block;
}

.exclusive.image-infos{
	width: 57%;
	font-size: 14px
}

.exclusive.choose-options{
	width: 40%;
	padding-left: 30px;
}

.exclusive .button {
	border: 1px solid #12ACFB;
	background-color: #12ACFB;
}

.exclusive .button.return {
	border: 2px solid #12ACFB;
	background-color: transparent;
}

.exclusive .button.aquiere{
	width: 200px;
}

.exclusive .exemplaire {
	display: inline-block;
	margin-left: 50px;
}


/* LIGHT SABER GREEN */ 

.container {
  padding-top: 0px;
  width: 570px;
  margin: 20px 0 0 200px;
  font-family: Roboto;
  color: #dedede;
  text-shadow: 0px 1px 1px #000;
}



.saber.green {
 	background-color: #00d23d;
 	margin-left: 100px;
 	bottom: 50px;
  	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
  position: relative;
  display: block;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}

.saber.blue {
 	background-color: #12ACFB;
 	margin-left: 100px;
 	bottom: 50px;
  	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
  position: relative;
  display: block;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}

.saber.red {
 	background-color: #d0021b;
 	margin-left: 100px;
 	bottom: 50px;
  	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
  position: relative;
  display: block;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}

.saber.other {
 	background-color: #bd10e0;
 	margin-left: 100px;
 	bottom: 50px;
  	width: 120px;
	height: 25px;
	border-radius: 50px;
	text-align: center;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
  position: relative;
  display: block;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-transform: translate3d(0, 0, 0);
}


.saber .light {
  position: absolute;
}

.open-close{
	padding-top: 4px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	   		user-select: none;
	text-decoration: none;
	outline: none;

}

.light {

	margin-left: -18px;
	bottom: 192px;
	background: #FFF;
	height: 0;
	width: 30px;
	z-index: -1;
	left: 34px;
	border-radius: 20px 20px 17px 17px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;

}

.light.red{
	box-shadow: 0 0 32px 4px rgba(255, 0, 0, 0), 0 0 2px 8px #F00 inset;
}

.light.blue{
	box-shadow: 0 0 32px 4px rgba(80, 80, 80, 0), 0 0 2px 8px #378aff inset;
}

.light.green{
	box-shadow: 0 0 32px 4px rgba(122, 249, 84, 0), 0 0 2px 8px #7af954 inset;
}

.light.other{
	box-shadow: 0 0 32px 4px rgba(189, 16, 224, 0), 0 0 2px 8px #bd10e0 inset;
}


.chk:checked + .saber > .light.red {
  box-shadow: 0 0 32px 4px #F00, 0 0 2px 8px #F00 inset;
}

.chk:checked + .saber > .light.blue {
  box-shadow: 0 0 32px 4px #378aff, 0 0 2px 8px #378aff inset;
}

.chk:checked + .saber.green > .light.green {
  box-shadow: 0 0 32px 4px #7af954, 0 0 2px 8px #7af954 inset;
}

.chk:checked + .saber.other > .light.other {
  box-shadow: 0 0 32px 4px #bd10e0, 0 0 2px 8px #bd10e0 inset;
}

.chk {
  display: none;
}

.chk:checked + .saber > .light {
  height: 340px;
  -webkit-filter: blur(1px);
  -webkit-animation: flicker 0.3s ease infinite;
  -moz-animation: flicker 0.3s ease infinite;
  animation: flicker 0.3s ease infinite;
}



@-webkit-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  88% {
    opacity: 0.98;
  }
  90% {
    opacity: 0.94;
  }
  93% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.99;
  }
  96% {
    opacity: 0.93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.93;
  }
}


