@font-face { 
	font-family: 'jedisolid'; 
	src: url('../resources/jedisolid.otf') format('truetype');
}

body {
	background:#eeeeee;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 120%;
	margin:0;
	height: 100%;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    /* background: rgba(255,255,255,0.8);  */
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);  
}


#big-container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto -50px;
}


/*
** HEADER 
*/

.header-section {
	width: 100%;
	height: 50px;
	overflow:hidden;
	position: fixed;
	z-index: 10;
	background-color: #151515;
}


.header-section.bg-header {
	background-color: transparent;
}


.header-section .input-border {
	width: 200px;
	height: 25px;
	position: absolute;
	bottom: 12px;
	left: 55px;
	border: 1px solid #FEFEFE;
	border-radius: 50px;
	display: inline-block;

}

.header-section .input-border input {
	background-color: transparent;
	border: none;
	margin-top: 4px;
	margin-left: 25px;
  	box-shadow: none;
	font-size: 14px;
	color:#FEFEFE;
}

.header-section .input-border input:focus {
	outline: none;
}

.header-section .basket-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 300px;
	bottom: 12px;
}

.header-section nav {
	width: 400px;
	height: 50px;
	position: absolute;
	right: -40px;
	top:0;
	text-align: center;
	padding-top:15px;
	padding-right: 20px;
}

.header-section .bg-nav {
	width:400px;
	height: 50px;
	background-color: #FEFEFE;
	position: absolute;
	right: -40px;
	top:0;
	transform: skewX(-40deg);
}

header a {
	text-decoration: none;
	color: black;
	margin:0 10px;
}

header a:hover {
	color: #767676;
}

.noresearch {
	position: fixed;
	background-color: #fefefe;
	width: 170px;
	height: 20px;
	top: 20px;
	left: 71px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	opacity: 0;
	color: black;
}

.noresearch.visible {
	opacity: 1;
	top: 50px;
	z-index: 20;
	transition: all 0.5s ease;
}

.force-nav {
	position: fixed;
	background-color: #fefefe;
	width: 100px;
	height: 120px;
	top: 50px;
	right: 160px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	z-index:0;
	visibility: hidden;
}

.force-nav a {
	display: block;
	margin: 8px 0;
}

.force-nav.visible {
	z-index: 20;
	visibility: visible;
	transition: all 0.3s ease;
}

/*
** FOOTER
*/

footer{
	position: relative;
	height: 50px;
	width: 100%;
	overflow: hidden;
}

.footer-container {
}

footer nav{
	width:400px;
	padding-left: 55px;
}

footer nav a{
	color: #FEFEFE;
	display: inline-block;
	font-size: 13px;
	margin-right: 10px;
	margin-top: 18px;
}

footer nav a:hover{
	color:#767676;
	font-size: 13px;
	text-decoration: underline;
	transition:all 0.7s ease;
}

.watto-saber{
	width: 200px;
    margin-left: 45%;
    margin-top: -17px;	
}

.watto-saber p{
	font-size: 14px;
    color: #FEFEFE;

}

footer .bg-footernav {
	width: 1000px;
	height: 50px;
	background-color: #151515;
	position: absolute;
	left: -40px;
	top:0;
	transform: skewX(-40deg);
	z-index: -5;
}


.circle-to-basket{
	position: fixed;
	top: 28px;
	left: 320px;
	z-index: 15;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background: #00d23d;
	opacity: 0;
}

.circle-to-basket.new {
	animation-name:vibrate2;
	animation-duration:0.2s;
	animation-timing-function: ease;
	animation-iteration-count: 10;
}

.circle-to-basket.visible {
	opacity: 1;
}


@-webkit-keyframes vibrate2 {
  0% {opacity: 0.9;box-shadow: 0 0 32px 4px #00d23d, 0 0 10px 8px #00d23dinset;}
  30% {opacity: 0.97;}
  40% {opacity: 1; }
  80% {opacity: 0.9; }
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;box-shadow:none }
}
@-moz-keyframes vibrate2  {
  0% {opacity: 0.9;box-shadow: 0 0 32px 4px #00d23d, 0 0 10px 8px #00d23d inset;}
  30% {opacity: 0.97;}
  40% {opacity: 1; }
  80% {opacity: 0.9; }
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;box-shadow:none }
}
@keyframes vibrate2  {
  0% {opacity: 0.9;box-shadow: 0 0 32px 4px #00d23d, 0 0 10px 8px #00d23d inset;}
  30% {opacity: 0.97;}
  40% {opacity: 1; }
  80% {opacity: 0.9; }
  88% {opacity: 0.98;}
  90% {opacity: 0.94;}
  93% {opacity: 0.9;}
  95% {opacity: 0.99;}
  96% {opacity: 0.93;}
  98% {opacity: 1;}
  99% {opacity: 0.93;box-shadow:none }
}

@media screen and (max-width:920px) {
	.watto-saber {
		display: none;
	}
	footer nav {
		margin: auto;
		width: 340px;
		padding-left: 0px;
	}
}

@media screen and (max-width:730px) {
	header{
		height: 100px;
	}

	.header-section {
		height: 100px;
	}

	.header-section .input-border {
		left: auto; 
		right: 40px;
	}

	.header-section .basket-icon {
		left: auto; 
		right: 260px;
	}

	.noresearch {
		top: 70px;
		left: auto;
		right: 55px;
	}

	.noresearch.visible {
		top: 100px;
	}

	.circle-to-basket{
		top: 78px;
		left: auto;
		right: 254px;
	}
	
}


@media screen and (max-width:430px) {
	.watto-saber {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0;
		margin-top: 18px;
	}
	footer nav {
		display: none;
	}
}

@media screen and (max-width:340px) {
	/* HEADER */
}