@font-face { 
	font-family: 'jedisolid'; 
	src: url('../resources/jedisolid.otf') format('truetype');
}

body {
	background:#eee;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: light;
	margin:0;
}

/*
** HEADER 
*/

header {
	width: 100%;
	height: 50px;
	overflow:hidden;
	position: fixed;
	z-index: 10;
}

header .input-border {
	width: 200px;
	height: 25px;
	position: absolute;
	bottom: 0px;
	left: 55px;
	border: 1px solid #FEFEFE;
	border-radius: 50px;
	display: inline-block;

}

header .input-border input {
	background-color: transparent;
	border: none;
	margin-top: 4px;
	margin-left: 25px;
  	box-shadow: none;
  	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#FEFEFE;
}

header .input-border input:focus {
	outline: none;
}

header .basket-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 300px;
	 bottom: 0px;
}

header nav {
	width: 400px;
	height: 50px;
	position: absolute;
	right: -40px;
	top:0;
	text-align: center;
	padding-top:15px;
	padding-right: 20px;
}

header .bg-nav {
	width:400px;
	height: 50px;
	background-color: #FEFEFE;
	position: absolute;
	right: -40px;
	top:0;
	transform: skewX(-40deg);
}

header a {
	text-decoration: none;
	color: black;
}

header a:hover {
	text-decoration: none;
	color: #767676;
}


/*
** VIDEO 
*/

.video-section {
	width: 100%;
	position: relative;
	display: inline-block;
}

video{
	width:100%;
	background-size: cover;
	position:relative;
	margin-top: -50px;
	z-index: -5;
}

.video-filter{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	position: absolute;
	z-index: -4;
}

/*
** TITLE
*/

.watto {
	width:100%;
	height: 100%;
	text-align: center;
	position: absolute;
}

.watto span{
	display: block;
}

.watto .title{
	font-family: 'jedisolid', sans-serif;
	font-size: 62px;
	color:#FEFEFE;
	margin-top: 20%;
}

.watto .subtitle{
	color:#FEFEFE;
	font-size: 25px;
}

/*
** CONTAINER
*/

.container{
	width: 100%;
	height: 800px;
}

/*
** TITLE
*/
.title-side {
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 240px;
	margin: 50px auto;
	font-size: 16px;
}

.title-side p {
	display: inline-block;
	margin: 20px 10px;
}


/*
** CHOOSE YOUR COLOR
*/

.container {
	width: calc(100% - 110px);
	margin: 0 auto;
}
.choose-side{
	width: calc(100% + 12px);
	width:101%;
}

.choose-side div {
	display: inline-block;
	position: relative;
	width: 23.4%;
	margin: 0 12px 12px 0;
	vertical-align: top;
	background: black;
	transition:all 0.7s ease;
}

.choose-side img {
	width: 100%;
	opacity: 0.3;
	transition:all 0.7s ease;
}

.choose-side .green:hover{
	background: green;
}

.choose-side .green img:hover{
	opacity: 0.7;
}

.choose-side .red:hover{
	background:red;
}

.choose-side .red img:hover{
	opacity:0.7;
}

.choose-side .blue:hover{
	background:blue;
}

.choose-side .blue img:hover{
	opacity:0.7;
}

.choose-side .others:hover{
	background:purple;
}

.choose-side .others img:hover{
	opacity:0.7;
}

