body{
	background: url(../resources/background.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	color: #FEFEFE;
	font-family: 'ProximaNova-Semibold'
}

.valid-container{
	width:50%;
	padding: 150px 50px;
	margin: auto;
	text-align: center;
}

.valid-title{
	margin-bottom: 100px;
}

.valid-title h2{
	font-size:37px;
}

.name{
	color: #ffb700;
}

.valid-subtitle{
	margin-bottom: 50px;

}
.valid-subtitle h4{
	font-size: 18px;
	line-height: 23px;
}

.valid-commande{
	font-size: 17px;
}

.multi{
	color: #ffb700;
}





